@font-face {
    font-family: 'kelson light';
    src: url('Kelson Sans Light.otf');
}

@font-face {
    font-family: 'kelson';
    src: url('Kelson Sans Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'kelson';
    src: url('Kelson Sans Regular.otf');
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar  {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: black;
    border-radius: 10px;
    background-color: #656565;
}

.vertical-line {
    border-left: 2px solid #FFFFFF;
    position: fixed;
    height: 100%;
    z-index: 2;
    left: 30px;
}

.vertical-contact {
    box-shadow: 0px 0px 245px 60px black;
    position: fixed;
    height: 100%;
    z-index: 2;
    left: 30px;
}

.diamond {
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-bottom-color: white;
    position: fixed;
    top: 23%;
    left: 14px;
    z-index: 1;
}

.diamond:after {
    content: '';
    position: absolute;
    left: -17px;
    top: 17px;
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-top-color: white;
}

.lets.diamond {
    top: 29%;
}

.about.diamond {
    top: 35%;
}

.services.diamond {
    top: 41%;
}

.blog.diamond {
    top: 47%;
}

.contact.diamond {
    top: 53%;
}

.we.diamond.active {
    border-bottom-color: #5486AD;
}

.we.diamond.active:after {
    border-top-color: #5486AD;
}

.lets.diamond.active {
    border-bottom-color: #9EFFBC;
}

.lets.diamond.active:after {
    border-top-color: #9EFFBC;
}

.about.diamond.active {
    border-bottom-color: #ECD476;
}

.about.diamond.active:after {
    border-top-color: #ECD476;
}

.services.diamond.active {
    border-bottom-color: #8FF1FA;
}

.services.diamond.active:after {
    border-top-color: #8FF1FA;
}

.blog.diamond.active {
    border-bottom-color: #01CCFF;
}

.blog.diamond.active:after {
    border-top-color: #01CCFF;
}

.contact.diamond.active {
    border-bottom-color: #BAD843;
}

.contact.diamond.active:after {
    border-top-color: #BAD843;
}

.cursor {
    cursor: pointer;
}

.inactive {
    font-size: 0px !important;
}

.nav-text {
    font-family: Kelson;
    font-weight: bold;
    width: 315px;
    display: inline-block;
    font-size: 22px;
    margin-top: 3px;
    margin-left: 25px;
    color: #9EFFBC;
    text-shadow: 0px 0px 1px #BDBDBD;
}

.about > .nav-text {
    color: #ECD476;
    font-size: 22px;
}

.services > .nav-text {
    color: #8FF1FA;
    font-size: 22px;
}

.blog.diamond > .nav-text {
    color: #01CCFF;
    font-size: 22px;
    margin-top: 3px;
}

.contact > .nav-text {
    color: #BAD843;
    font-size: 22px;
    text-shadow: 1px 2px 10px #232323;
}

.image-height.text-body::-webkit-scrollbar-thumb {
    background-color: #9A9A9A !important; 
}

.text-body.content-height::-webkit-scrollbar-track, 
.with-scroll::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.text-body.content-height::-webkit-scrollbar, 
.image-height.text-body::-webkit-scrollbar,
.with-scroll::-webkit-scrollbar  {
    width: 7px !important;
    background-color: transparent !important;
}

.text-body.content-height::-webkit-scrollbar-thumb,
.with-scroll::-webkit-scrollbar-thumb {
    background-color: #D2D2D2 !important;
}

.with-scroll {
    overflow: auto;
    position: relative;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.first-image {
    background-image: url('https://cdn.rawgit.com/dynobjx/dynobjx.github.io/master/01_Initial%20Image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-padding {
    position: relative;
    padding: 15px 0px;
}

.dynamic-text {
    font-family: kelson;
}

.dynamic-image {
    position: relative;
}

.contact-btn {
    font-size: 19px;
    color: #7796AF;
    border-radius: 0px;
    border: 3px solid #6085A3;
    background-color: white;
    padding: 3px 10px 0px;
    position: relative;
}

.contact-btn:hover {
    color: white;
    background-color: #7796AF;
}

.contact-btn:focus {
    color: #6085A3;
}

.header-shadow {
    box-shadow: 0px 2px 25px #E2E2E2;
}

.header-shadow > .container {
    width: 96%;
    margin-left: 2%;    
}

.image-height {
    height: 91.5vh;
}

.left-image {
    height: 100%;
    position: absolute;
}

.text-body {
    background-color: #FCFCFC;
}

.text-color {
    color: #A2A2A2;
    font-size: 18px;
}

.text-margin {
    margin: 0% 12%;
}

.title-text {
    color: #678BA7;
    font-weight: bold;
    margin-top: 35px;
}

.content-margin {
    margin-bottom: 20px;
}

.text-body.content-height,
.image-height.text-body {
    overflow: auto;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-right: 45px solid #376182;
    border-bottom: 45px solid transparent;
    position: absolute;
    right: 0px;
    bottom: 92px;
    cursor: pointer;
}

.mid-left {
    width: 9px;
    height: 21px;
    -webkit-transform: skew(47deg);
    -moz-transform: skew(47deg);
    -o-transform: skew(47deg);
    background: white;
    position: absolute;
    right: 0px;
    bottom: 118px;
    cursor: pointer;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-left: 45px solid #376182;
    border-bottom: 45px solid transparent;
    position: absolute;
    right: -45px;
    bottom: 92px;
    cursor: pointer;
    z-index: 1;
}

.mid-right {
    width: 9px;
    height: 18px;
    -webkit-transform: skew(-47deg);
    -moz-transform: skew(-47deg);
    -o-transform: skew(-47deg);
    background: white;
    position: absolute;
    right: -10px;
    bottom: 121px;
    border-bottom-left-radius: 30px;
    cursor: pointer;
    z-index: 2;
}

/* LET'S DO SOFTWARE */
.lets-do-image {
    background-image: url('https://cdn.rawgit.com/dynobjx/dynobjx.github.io/master/02_Image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.content-height {
    height: 90vh;
}

.second.text-body {
    background-color: #332D21;
}

.contact-btn.second-contact {
    background-color: #332D21;
    border-color: white;
    color: white;
}

.contact-btn.second-contact:hover {
    background-color: white;
    border-color: #211D14;
    color: #332D21;
}

.title-text.second-title {
    color: #9EFFBC;
    margin-top: 15%;
}

.text-color.second-text {
    color: white;
}

.page.image-height,
.page > .image-height {
    height: 100vh;
}

.page > div > .content-height > .left-image {
    height: 110%;
}

.lets-do > div .triangle-left {
    border-right: 45px solid #9EFFBC;
}

.lets-do > div .mid-left {
    background: #332D21;
}

.lets-do > div .triangle-right {
    border-left: 45px solid #9EFFBC;
}

.lets-do > div .mid-right {
    background: #332D21;
}

.lets-do-footer {
    background-color: white;
    height: 10vh;
    z-index: 2;
}

.dynamic-text.address {
    color: #A1A1A1;
}

.lets-do-footer > .container > .row > .header-padding {
    padding-top: 21px;
}

.lets-do-footer > .container {
    width: 96%;
    margin-left: 2%;
}

/* ABOUT */
.about-image {
    background-image: url('https://cdn.rawgit.com/dynobjx/dynobjx.github.io/master/03_Image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.about.contact-btn {
    background-color: #7C6D47;
    color: white;
    border-color: white;
}

.about.contact-btn:hover {
    background-color: white;
    color: #7C6D47;
    border-color: #544A2F;
}

.about.content-margin {
    margin-top: 80px;
}

.about.text-body {
    background-color: #7C6D47;
}

.about.title-text {
    color: #ECD476;
}

.about.text-color {
    color: #F7F7F4;
}

.about > div .triangle-left {
    border-right: 45px solid #ECD476;
}

.about > div .mid-left {
    background: #7C6D47;
}

.about > div .triangle-right {
    border-left: 45px solid #ECD476;
}

.about > div .mid-right {
    background: #7C6D47;
}

/* SERVICES */
.services > .left-image {
    width: 1150px;
}

.services.text-body {
    background-color: #6E6E6D;
}

.services.contact-btn {
    background-color: #6E6E6D;
    color: white;
    border-color: white;
}

.services.contact-btn:hover {
    background-color: white;
    color: #6E6E6D;
    border-color: #484848;
}

.services.title-text {
    color: #8FF1FA;
}

.services.text-color {
    color: #F9F9F9;
}

.services > div .triangle-left {
    border-right: 45px solid #8FF1FA;
}

.services > div .mid-left {
    background: #5A5958;
}

.services > div .triangle-right {
    border-left: 45px solid #8FF1FA;
}

.services > div .mid-right {
    background: #5A5958;
}

.download-btn {
    font-size: 19px;
    color: #8DEAF2;
    border-radius: 0px;
    border: 3px solid #8FF4FD;
    background-color: #6E6E6D;
    padding: 3px 10px 0px;
    position: relative;
    margin-bottom: 30px;
}

.download-btn:hover {
    color: #338E96;
    background-color: white;
    border-color: #338E96;
}

.download-btn:focus {
    color: #8DEAF2;
}

.download {
    position: relative;
    right: 15px;
}

.services-image {
    background-image: url('https://cdn.rawgit.com/dynobjx/dynobjx.github.io/master/04_Image_no_blue.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.blue-back {
    height: inherit;
    background-color: #003C71;
    opacity: 0.6;
}

.logo {
    left: 0px;
    padding: 15% 18%;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* BLOG */
.blog-image {
    background-image: url('https://cdn.rawgit.com/dynobjx/dynobjx.github.io/master/05_Image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.blog.text-body {
    background-color: #332D2D;
}

.blog.title-text {
    color: #00CCFF
}

.blog.contact-btn {
    background-color: #332D2D;
    color: white;
    border-color: white;
}

.blog.contact-btn:hover {
    background-color: white;
    color: #332D2D;
    border-color: #252020;
}

.blog > .blog-title,
.blog > span {
    color: #A4E391;
}

.blog > span {
    font-size: 12px;
    position: absolute;
    margin-top: -13px;
}

.blog.text-color {
    color: #F7F6F6;
}

.content-margin.blog,
.about > .content-margin {
    line-height: 28px;
}

.read-more {
    font-size: 19px;
    color: #A7E794;
    border-radius: 0px;
    border: 3px solid #A7E794;
    background-color: #332D2D;
    padding: 3px 10px 0px;
    position: relative;
    margin-bottom: 30px;
}

.read-more:hover {
    background-color: #A7E794;
    color: #332D2D;
    border-color: #47753A;
}

.read-more:focus {
    border: 3px solid #A7E794;
    background-color: #332D2D;
    color: #A7E794;
}

.blog > div .triangle-left {
    border-right: 45px solid #01CCFF;
}

.blog > div .mid-left {
    background: #332D2D;
}

.blog > div .triangle-right {
    border-left: 45px solid #01CCFF;
}

.blog > div .mid-right {
    background: #332D2D;
}

/* CONTACT US */
#mapid { z-index: 1; }

.contact.text-body {
    background-color: #2A2B12;
}

.contact.title-text {
    color: #BAD843;
}

.contact-us {
    color: white;
}

.tel-no {
    margin-top: 40px;
}

.send-us {
    font-size: 19px;
    color: white;
    border-radius: 0px;
    border: 3px solid white;
    background-color: #2A2B12;
    padding: 3px 10px 0px;
    position: relative;
}

.send-us:hover {
    background-color: white;
    color: #2A2B12;
    border-color: #20210E;
}

.send-us:focus {
    background-color: #2A2B12;
    color: white;
    border: 3px solid white;
}

.contact > .triangle-left {
    border-right: 45px solid #BAD843;
    margin-right: 50%;
    bottom: 182px;
    z-index: 2;
}

.contact > .triangle-right {
    border-left: 45px solid #BAD843;
    margin-right: 50%;
    bottom: 182px;
    z-index: 2;
}

.contact-left {
    width: 9px;
    height: 21px;
    -webkit-transform: skew(-47deg);
    -moz-transform: skew(-47deg);
    -o-transform: skew(-47deg);
    background: #2A2B12;
    position: absolute;
    margin-left: 49.2%;
    bottom: 222px;
    cursor: pointer;
    z-index: 2;
}

.contact-right {
    width: 9px;
    height: 18px;
    -webkit-transform: skew(47deg);
    -moz-transform: skew(47deg);
    -o-transform: skew(47deg);
    background: #2A2B12;
    position: absolute;
    margin-left: 50%;
    bottom: 222px;
    border-top-left-radius: 30px;
    cursor: pointer;
    z-index: 2;
}

@media (min-width: 401px) and (max-width: 736px) {
    .title-text {
        margin-top: 20px !important;        
    }

    .we.text-color,
    .blog.text-color,
    .second-text.text-color,
    .about.text-color,
    .services.text-color,
    .contact-us,
    .contact-btn,
    .download-btn,
    .read-more {
        font-size: 17px !important;
    }

    .we.title-text,
    .second-title.title-text,
    .about.title-text,
    .services.title-text,
    .blog.title-text,
    .contact.title-text {
        font-size: 30px !important;
    }
}

@media (max-width: 400px) {
    .title-text {
        margin-top: 20px !important;        
    }

    .we.text-color,
    .blog.text-color,
    .second-text.text-color,
    .about.text-color,
    .services.text-color,
    .contact-us,
    .contact-btn,
    .download-btn,
    .read-more {
        font-size: 15px !important;
    }

    .we.title-text, 
    .second-title.title-text,
    .about.title-text,
    .services.title-text,
    .blog.title-text,
    .contact.title-text {
        font-size: 24px !important;
    }

    .content-margin {
        margin-bottom: 20px;
    }

    .header-padding {
        padding-bottom: 0px;
    }

    .content-margin.blog {
        line-height: 20px;
    }
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
    .nav-text { 
        font-size: 0px !important;
    }

    .vertical-contact {
        display: none !important;
    }

    .vertical-line {
        left: 20px;
    }

    .diamond {
        border: 15px solid transparent;
        border-bottom-color: white;
        position: fixed;
        top: 23%;
        left: 5.5px;
        z-index: 1;
    }

    .diamond:after {
        content: '';
        position: absolute;
        left: -15px;
        top: 15px;
        border: 15px solid transparent;
        border-top-color: white;
    }

    .lets.diamond {
        top: 30%;
    }

    .about.diamond {
        top: 37%;
    }

    .services.diamond {
        top: 44%;
    }

    .blog.diamond {
        top: 51%;
    }

    .contact.diamond {
        top: 58%;
    }

    .title-text {
        margin-top: 80px;
    }

    .bg-black {
        background: black;
    }

    .we.text-color {
        color: white;
    }

    .we.title-text {
        color: #95D1FF;
    }

    .we-dyn {
        background-image: url('https://cdn.rawgit.com/dynobjx/dynobjx.github.io/master/01_Initial%20Image.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.3;
        height: 91.5vh;
        width: 100%;
    }

    .lets-xs {
        background-image: url('https://cdn.rawgit.com/dynobjx/dynobjx.github.io/master/02_Image.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.8;
    }

    .about-xs {
        background-image: url('https://cdn.rawgit.com/dynobjx/dynobjx.github.io/master/03_Image.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.3;
    }

    .services-xs {
        background-image: url('https://cdn.rawgit.com/dynobjx/dynobjx.github.io/master/04_Image_no_blue.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.3;
    }

    .blog-xs {
        background-image: url('https://cdn.rawgit.com/dynobjx/dynobjx.github.io/master/05_Image.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.3;
    }

    .contact-xs {
        background-image: url('https://cdn.rawgit.com/dynobjx/dynobjx.github.io/master/06_Image.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.3;
    }

    .content-height {
        width: 100%;
    }

    .dynamic-image {
        width: 130px;
    }
    
    .dynamic-text.address {
        font-size: 12px;
    }

    .lets-do-footer > .container > .row {
        margin: 0px -30px;
    }

    .lets-do-footer > .container > .row > img {
        padding: 7% 0px;
    }
}


@media (max-width: 900px) {
    .logo {
        padding: 37% 18% !important;
    }
}

@media (min-width: 768px) and (max-width: 1100px) {
    .we.text-color,
    .blog.text-color,
    .second-text.text-color,
    .about.text-color,
    .services.text-color {
        font-size: 16px !important;
    }

    .second-title.title-text,
    .about.title-text,
    .services.title-text,
    .blog.title-text {
        font-size: 30px;
    }

    .contact-us {
        font-size: 20px;
    }

    .contact.title-text {
        font-size: 30px;
    }

    .logo {
        padding: 27% 18%;
    }
}

@media (min-width: 1200px) {
    .logo {
        padding: 20% 18%;
    }
}